:8080 {
	root * /srv/front

	@forbidden {
		path /api/admin* /api/auth/admin* /api/zero*
	}
	handle @forbidden {
		respond "Forbidden" 403
	}

	@api path /api/*
	handle @api {
		reverse_proxy {$SERVER_URL}
	}

	handle_path /zero-cache* {
		reverse_proxy {$ZERO_CACHE_URL}
	}

	@static file {
		root /srv/front
	}
	handle @static {
		try_files {path} /index.html
		file_server {
			precompressed br gzip
		}
	}

	handle {
		try_files {path} /index.html
		file_server {
			precompressed br gzip
		}
	}
}

:8081 {
	root * /srv/admin

	handle /api/zero* {
		respond "Forbidden" 403
	}

	@api path /api/*
	handle @api {
		reverse_proxy {$SERVER_URL}
	}

	handle_path /zero-cache* {
		reverse_proxy {$ZERO_CACHE_URL}
	}

	@static file {
		root /srv/admin
	}
	handle @static {
		try_files {path} /index.html
		file_server {
			precompressed br gzip
		}
	}

	handle {
		try_files {path} /index.html
		file_server {
			precompressed br gzip
		}
	}
}